adbc_driver_manager==1.0.0
adbc_driver_postgresql==1.0.0
adbc_driver_sqlite==1.0.0
altair_saver==0.5.0
anywidget==0.9.12
AppKit==0.2.8
atheris==2.3.0
beautifulsoup4==4.11.1
bokeh==3.1.1
boto3==1.34.123
botocore==1.34.123
brotli==1.1.0
brotlicffi==1.1.0.0
ciso8601==2.3.1
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==38.0.4
cycler==0.11.0
Cython==3.0.10
cytoolz==0.12.3
dask==2023.10.0
defusedxml==0.7.1
dl==0.1.0
docutils==0.21.2
fastparquet==2024.5.0
filelock==3.14.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.10.0
gitdb_speedups==0.1.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.103.1
importlib_metadata==6.8.0
importlib_resources==6.4.0
ipython==8.12.3
ipywidgets==7.7.2
isoduration==20.11.0
jnius==1.1.0
JPype1==1.5.0
jsonpointer==3.0.0
keyring==25.2.1
lxml==5.2.2
matplotlib==3.5.2
mock==5.1.0
mtrand==0.1
mypy==1.10.0
numarray==1.5.1
Numeric==24.2
numexpr==2.10.0
odfpy==1.4.1
olefile==0.47
openpyxl==3.0.10
ordereddict==1.1
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
polars==0.20.31
psutil==5.9.1
py==1.11.0
pycares==4.4.0
pycurl==7.45.3
pydantic==1.10.2
PyInstaller==6.8.0
pyodide==0.0.2
pyOpenSSL==24.1.0
pyperf==2.7.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.7.0
PySide6==6.7.1
pytest==8.2.2
python_calamine==0.2.0
pywin32==304
pyxlsb==1.0.10
QtPy==2.4.1
railroad==0.5.0
redis==5.0.5
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.6.0
scikit_learn==1.1.1
scipy==1.8.1
sets==0.3.2
setuptools_scm==8.1.0
simplejson==3.19.2
skimage==0.0
snowflake==0.9.0
Sphinx==7.3.7
SQLAlchemy==2.0.30
statsmodels==0.13.5
sympy==1.12.1
tables==3.9.2
testbench==0.1.2
thread==2.0.3
threadpoolctl==3.5.0
traitlets==5.14.3
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==1.6.9
vincent==0.4.4
webcolors==24.6.0
xarray==2024.5.0
xlrd==2.0.1
XlsxWriter==3.1.2
xmlrpclib==1.0.1
zstandard==0.22.0
