absl-py==1.1.0
altair==5.3.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.5.2
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
attrs==22.1.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bitstring==3.1.9
bleach==5.0.1
blinker==1.8.2
bokeh==3.1.1
branca==0.6.0
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorama==0.4.5
contourpy==1.1.0
cryptography==38.0.4
cycler==0.11.0
dask==2023.10.0
dateutils==0.6.12
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
distributed==2023.10.0
Django==4.1.3
docopt==0.6.2
duckdb==0.10.2
ecdsa==0.18.0
entrypoints==0.4
esptool==4.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.16.2
Fiona==1.8.22
flatbuffers==1.12
folium==0.14.0
fonttools==4.34.4
fsspec==2023.10.0
gast==0.4.0
geojson==2.5.0
geopandas==0.12.1
gitdb==4.0.11
GitPython==3.1.43
gmaps==0.9.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlemaps==4.7.3
greenlet==3.0.3
grpcio==1.47.0
gw_dsl_parser==0.1.48a5
h5py==3.7.0
htmlmin==0.1.12
idna==3.3
ImageHash==4.3.1
importlib-metadata==6.8.0
influxdb-client==1.37.0
influxdb3-python==0.2.1
ipykernel==6.15.1
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==7.7.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.17.1
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.6.3
jupyter-server==1.23.3
jupyter_core==5.7.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kaleido==0.2.1
kanaries_track==0.0.5
keplergl==0.3.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.3
libclang==14.0.1
llvmlite==0.41.1
locket==1.0.0
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mcdm==1.4
mdurl==0.1.2
mistune==2.0.4
mne==1.6.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.7
multimethod==1.9
munch==2.5.0
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.16.4
nbformat==5.7.0
nest-asyncio==1.5.5
networkx==2.8.8
notebook==6.5.2
notebook_shim==0.2.2
numba==0.58.1
numpy==1.23.1
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas
pandas-profiling
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.1
patsy==0.5.3
pdfkit==1.0.0
phik==0.12.2
pi==0.1.2
pickleshare==0.7.5
Pillow==9.2.0
Pint==0.20.1
pipreqs==0.5.0
platformdirs==4.1.0
plotly==5.15.0
pooch==1.8.0
prometheus-client==0.15.0
prompt-toolkit==3.0.30
protobuf==4.25.3
psutil==5.9.1
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.2
pydeck==0.9.1
Pygments==2.18.0
pygwalker==0.4.8.5
pymcdm==1.1.0
PyMeasure==0.11.1
pyparsing==3.0.9
pyproj==3.4.0
pyqtgraph==0.13.1
pyrsistent==0.19.2
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
PyVISA==1.13.0
PyWavelets==1.4.1
pywinpty==2.0.9
PyYAML==6.0
pyzmq==23.2.0
qtconsole==5.5.2
QtPy==2.4.1
reactivex==4.0.4
reedsolo==1.5.4
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.1
rsa==4.8
SciencePlots==2.0.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
segment-analytics-python==2.2.3
Send2Trash==1.8.0
sensitivity==0.2.8
Shapely==1.8.5.post1
six==1.16.0
sklearn==0.0.post5
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.30
sqlglot==23.17.0
sqlparse==0.4.3
stack-data==0.3.0
statsmodels==0.13.5
streamlit
streamlit-option-menu==0.3.13
stumpy==1.12.0
sympy==1.12.1
tangled-up-in-unicode==0.2.0
tblib==3.0.0
tenacity==8.2.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tornado==6.2
tqdm==4.64.1
traitlets==5.14.3
traittypes==0.2.1
tsfresh==0.20.1
typeguard==2.13.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
tzdata==2022.6
urllib3==1.26.10
visions==0.7.5
wasmtime==12.0.0
watchdog==4.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.1.2
widgetsnbextension==3.6.1
wrapt==1.14.1
XlsxWriter==3.1.2
xyzservices==2023.5.0
yarg==0.1.9
zict==3.0.0
zipp==3.17.0
